.heart {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 40px;
    color: tomato;
    z-index: 100000000;
    text-shadow: black 0 0 2px;
}

.heart:hover {
    text-shadow: orange 0 0 30px;
    color: green;
}

div.likebyyou {
    color: red;
}

div.empty {
    color: darkgray;
}